.card {
  background-color:  hsl(213, 19%, 18%);
  padding: 0.9375rem;
  border-radius: 1.125rem;
  text-align: start; 
}

.star {
  position: relative;
  margin: 0.9375rem;
  border-radius: 50%;
  background-color:  hsl(213, 19%, 24%);
  width: 2.8125rem;
  height: 2.8125rem;
}

.star > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
  padding: 0.125rem;
}

.card > .about {
  margin-block: 1.25rem;
  padding-inline: 0.9375rem;
}

.about > h1 {
  color: hsl(0, 0%, 100%);
  padding-bottom: 0.625rem;
}

.about > p {
  color: hsl(217, 12%, 63%);
  line-height: 1.6;
  font-size: 0.9375rem;
}

.card > .buttons > form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-inline: 0.9375rem;
}

form > label {
  position: relative;
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: hsl(213, 19%, 24%);
  color: hsl(217, 12%, 63%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

form > .active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

form > label:not(.active):hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

form > label > input[type="radio"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: inherit;
  margin: 0;
  padding: 0;
  z-index: 1;
  opacity: 0;
}

.card > .submitButton {
  margin: 1.875rem 0 0.9375rem 0;
  text-align: center;
}

.submitButton > a {
  display: inline-block;
  width: 85%;
  padding-block: 0.75rem;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  border-radius: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.125rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submitButton > a:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.thankYou {
  text-align: center;
}

.thanksCard > .about > p {
  padding-bottom: 0.9375rem;   
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9375rem;
}

.image > span {
  margin-top: 1.5625rem;
  padding: 0.5625rem;
  font-size: 0.9375rem; 
  background-color: hsla(25, 97%, 53%, 0.1);
  color: hsl(25, 97%, 53%);
  border-radius: 1.125rem;
}

.attribution { 
  font-size: 0.6875rem; 
  text-align: center;
  padding-top: 0.9375rem;
  color: hsl(0, 0%, 100%); 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 90rem) {
  .card {
    padding-inline: 1rem;
    border-radius: 1.875rem;
  }

  .thanksCard {
    width: 80%;
    margin: auto;
  }

  .star {
    margin: 1.125rem 0.9375rem 1.875rem 1rem;
  }

  .card > .buttons {
    padding-inline: 0;
    margin-inline: 0.3125rem;
  }

  .buttons > form > label {
    margin-right: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
  }

  .submitButton > a {
    width: 90%;
  }
}